$white: white;
$black: black;
$main: #1DD3B0;
$second-main: #AFFC41;
$shadow-low: rgba(0, 0, 0, .3);

$green-gradient:linear-gradient(319deg, #1DD3B0 0%, #1DD3B0 37%, #AFFC41 100%);


//#dbf26e
//#61fa74 
//#1cfdd6 