@media (min-width: 992px) {

    /*NAVIGATION*/
    .navigation {
        &__item {
            font-size: 3.5rem;
        }
    }

    /*MAIN*/

    /*ABOUT US*/
    .about-us {
        &__box {
            margin: 5em 0;
        }

        &__text {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-bottom: 2.5em;
        }

        &__title {
            font-size: 3.6rem;
        }

        &__description {
            font-size: 1.8rem;
        }
    }

    /*WHY US?*/
    .why-us {

        &__item {
            i {
                font-size: 6rem;
            }
        }

        &__text {
            font-size: 1.8rem;
        }

        hr {
            width: 60%;
            max-width: 900px;
        }
    }

    /*OFFERS*/
    .offers {
        background-image: $main-gradient-transparent, url('../img/whyus-big.jpeg');

        &__option {

            &-img {
                object-fit: cover;
            }

            &-text {
                font-size: 1.5rem;
            }
        }

    }
}

@media (min-width: 1200px) {

    /*NAVIGATION*/
    .navigation {
        &__logo {
            top: 20px;
            left: 40px;
        }

        &__btn {
            top: 20px;
            right: 40px;
        }
    }

    /*HEADER*/
    .header {
        &__heading {
            font-size: 14rem;
        }

        &__description {
            font-size: 2.2rem;
        }

        &__btn {
            font-size: 1.6rem;
        }
    }

    /*CABINS*/
    .cabins {
        &__card {
            width: 35%;
        }
    }
}