@media (min-width: 576px) {

    /*HEADER*/
    .header {
        &__heading {
            font-size: 8rem;
        }

        &__description {
            font-size: 1.6rem;
        }

        &__btn {
            font-size: 1.4rem;
        }
    }

    /*MAIN*/

    /*ABOUT US*/
    .about-us {
        &__box {
            flex-direction: row;
            justify-content: space-between;
        }

        &__text {
            text-align: left;
            width: 55%;
        }

        &__img {
            width: 40%;
            margin-bottom: 0;
            max-height: 300px;
        }
    }

    /*WHY-US?*/
    .why-us {
        @include heroImage('../img/whyus-medium.jpeg');

        &__items {
            grid-template-rows: repeat(1, 1fr);
        }

        &__item {
            padding: 1em;

            i {
                font-size: 4rem;
            }

            &:nth-child(2) {
                grid-row: 1/2;
            }
        }
    }

    /*CABINS*/
    .cabins {
        &__card {
            &-location {
                font-size: 1.6rem;
            }

            &-title {
                font-size: 2.2rem;
                margin: 1em;
            }

            &-button {

                font-size: 1.6rem;

            }
        }
    }

    /*OFFERS*/
    .offers {
        &__option {
            display: flex;
            margin: 2em 0;
            width: 100%;

            &-img {
                width: 50%;
                height: auto;

                &--right {
                    order: 1;
                }
            }

            &-info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            &-heading {
                margin-bottom: 0.5em;
                font-size: 3.6rem;
            }

            &-btn {
                padding: 1em;
            }
        }

    }
}

@media (min-width: 768px) {

    /*COMMON CLASSES*/
    .white-block {
        height: 50px;
        width: 45%;
    }

    /*HEADER*/
    .header {
        &__heading {
            font-size: 10rem;
        }

        &__text {
            font-size: 2rem;
        }
    }

    /*MAIN*/

    /*ABOUT US*/
    .about-us {
        &__text {
            font-size: 2rem;
        }
    }

    /*WHY US?*/
    .why-us {
        padding: 30em 2em;
        @include heroImage('../img/whyus-big.jpeg');

        &__items {
            font-size: 2rem;
            justify-items: center;
            width: 70%;
            margin: 0 auto;
        }

        &__item {
            max-width: 150px;
        }

        hr {
            margin: 0 auto;
            width: 70%;
        }
    }

    /*CABINS*/
    .cabins {
        &__cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        &__card {
            margin: 1em;
            width: 45%;

            &-img {
                &--first {
                    background-image: $green-gradient-transparent, url('../img/slider01.jpg');
                }

                &--second {
                    background-image: $blue-gradient-transparent, url('../img/slider02.jpg');
                }
            }
        }
    }

}