@mixin btnStyle {
    position: absolute;
    right: 0;
    height: 3px;
    content: '';
    background-color: $main;
    transition: width .3s;
}

@mixin heroImage($bgImg) {
    background-image: $green-gradient-transparent, url($bgImg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}